<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="about">
        <p>I am a web developer, currently specializing in Python. I love to create apps that are user-friendly, easy on the eyes and make life simpler. Outside of web development, my passions are the <span>Seattle Seahawks</span>, the <span>beach</span> and  <span>books</span>.</p>
        <img src="static/seattle_logo_blue.jfif" alt="seattle logo">
    </div>
</body>
</html>