.vscode/
basic_validation/
hello_flask/
form_test/
practice_assignments
OOP_assignments/product.pyc
django_assignments/multiple_apps/
django_assignments/faith_food/
django_assignments/travel_buddy/

django_assignments/ecommerce/