{% extends "users/layout.html" %}

{% block title %}User Information{% endblock %}

{% block content %}
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <dl>
        <dt>Registered:</dt><dd>{{user.created_at|date:"N j, Y"}}</dd><br>
        <dt>User ID:</dt><dd># {{user.id}}</dd><br>
        <dt>Email Address:</dt><dd>{{user.email}}</dd><br>
        <dt>Description:</dt><dd>{{user.description}}</dd><br>
    </dl>

    {% if user.id != request.session.user_id %}
    <form class="add-msg" action="{% url 'communiques:create' user.id %}" method="POST">
        <div class="errors">
            {% if messages %}
                {% for msg in messages %}
                    {% if "bad_msg" in msg.tags %}
                        <p class="text-danger">{{msg}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div> 
        {% csrf_token %}         
        <fieldset>
            <legend><h4>Leave a message for {{user.first_name}}</h4></legend>
            <textarea class="form-control" name="message" id="message" rows="2"></textarea><br>
            <input type="checkbox" name="private" id="private" data-toggle="tooltip" data-placement="right" title="Caution:  If you check this box, it will be viewable only by you and {{user.first_name}}."><label for="private">Mark Private</label>
            <input class="float-right" name="post-msg" type="submit" value="Post">
        </fieldset>
    </form>
    {% endif %}


    {% for message in msg_rcvd %}
        {% if message.privacy == 1 or request.session.user_id == message.msg_from_id or request.session.user_id == message.msg_to_id %}
        <div class="messages-container">
            <div class="messages">
                <p></p>
                    <a href="{% url 'users:show' message.msg_from.id %}">{{message.msg_from.first_name}} {{message.msg_from.last_name}}</a>
                    wrote
                    <span class="float-right">{% if message.created_at|timesince > '23 hours' %} {{message.created_at|date:"N j, Y"}} {% else %} {{message.created_at|timesince}} ago {% endif %}</span>
                </p> 
                <p>{{message.message}}</p>
            </div>

            {% for comment in comments %}
                {% if comment.communique.id == message.id %}
                    <div class="comments">
                        <p>
                            <a href="{% url 'users:show' comment.commenter.id %}">{{comment.commenter.first_name}} {{comment.commenter.last_name}}</a>
                            wrote
                            <span class="float-right">{% if comment.created_at|timesince > '23 hours' %} {{comment.created_at|date:"N j, Y"}} {% else %} {{comment.created_at|timesince}} ago {% endif %}</span>
                        </p> 
                        <p>{{comment.comment}}</p>
                    </div>
                {% endif %}
            {% endfor %}
            
            <form class="add-cmt" action="{% url 'comments:create' message.id %}" method="POST">
                <div class="errors">
                {% if messages %}
                    {% for msg in messages %}
                        {% if "bad_comment" in msg.tags %}
                            <p class="text-danger">{{msg}}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                </div> 
                {% csrf_token %}         
                <fieldset>
                    <legend><h5>Add a comment</h5></legend>
                    <textarea class="form-control" name="comment" id="comment" rows="1"></textarea><br>
                    <input class="float-right" name="post-cmt" type="submit" value="Post">
                </fieldset>
            </form>
        </div>
        {% endif %}
    {% endfor %}

    
{% endblock %}