{% extends "users/layout.html" %}

{% block title %}User Information{% endblock %}

{% block content %}
    <h2>{{user.first_name}} {{user.last_name}}</h2>
    <dl>
        <dt>Registered:</dt><dd>{{user.created_at}}</dd><br>
        <dt>User ID:</dt><dd># {{user.id}}</dd><br>
        <dt>Email Address:</dt><dd>{{user.email}}</dd><br>
        <dt>Description:</dt><dd>{{user.description}}</dd><br>
    </dl>

    {% if user.id != request.session.user_id %}
    <form class="add-msg" action="{{/show/user.id/}}" method="POST">
        <div class="errors">
        {% if messages %}
            {% for msg in messages %}
                <p class="text-danger">{{msg}}</p>
            {% endfor %}
        {% endif %}
        </div> 
        {% csrf_token %}         
        <fieldset>
            <legend><h4>Leave a message for {{user.first_name}}</h4></legend>
            <textarea class="form-control" name="message" id="message" rows="2"></textarea><br>
            <input class="float-right" name="post-msg" type="submit" value="Post">
        </fieldset>
    </form>
    {% endif %}

    
{% endblock %}