*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 900px;
    display: inline-block;
    margin: 20px;
    padding: 25px;
    background: repeating-linear-gradient(to bottom right, #525252, #606c88, #525252);
    color: white;
    border: 15px solid transparent;
    border-radius: 20px;
    /* box-shadow: 0 0 0 2px #7984a0, 0 0 0 4px #a5adc0, 0 0 0 8px #e1e4ea, 0 0 0 12px #f0f1f4; */
}
h1, h4, more{
    text-align: center;
}
h4{
    padding: 5px 0px 15px 0px;
    font-style: italic;
}
.more{
    padding: 5px 0px 25px 0px;
    display: block;
    text-align: center;
    color: white;
    font-style: italic;
}
.leagues, .teams, .players{
    vertical-align: top;
    display: inline-block;
    width: 425px;
}
.players{
    margin: 15px 0px;
}
h3{
    display: inline-block;
    text-decoration: solid white underline;
    cursor: pointer;
    padding: 5px 0px;
}
li{
    list-style-type: none;
    padding: 5px 25px;
}
.data{
    vertical-align: top;
    display: none;
}
