<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Word Generator</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'random_word_gen/css/style.css' %}">
</head>
<body>
    <div class="container">
        <p>Random Word (attempt # {{request.session.counter}})</p>
        <h1>{{request.session.rand_word}}</h1>
        <form action="/random_word" method="GET">
            {% csrf_token %}
            <input type="submit" value="Get Word">
        </form>
    </div>
</body>
</html>