<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'courses_app/css/style.css' %}">
    <title>Delete Course</title>
</head>
<body>
    <div class="container">
        <h2>Are you sure you want to delete the following course?</h2>
        <div class="course-details">
            <h4>{{course.course_name}}</h4>
            <p>{{course.course_desc}}</p>
            <a class="btn-info" href="{% url 'course_index' %}">No, take me back.</a>        
            <a class="btn-danger" href="{% url 'destroy_course' course_id=course.id %}">Yes, proceed with course deletion.</a>
        </div>
    </div>
</body>
</html>