<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AJAX Ninja</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>
<body>
    <div class="rain lightning"></div>
    <div class="container">
        <h1>Looking for a ninja?</h1>
        <div class="choices">
            <button class="red">red</button>
            <button class="blue">blue</button>
            <button class="orange">orange</button>
            <button class="purple">purple</button>
            <p>* Or choose a custom color:</p>
            <input type="text" name="color">
            <button class="other">Enter</button>
        </div>
        <div class="turtle"></div>
    </div>
</body>
</html>