<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'registration/css/style.css' %}">
    <title>Login or Register</title>
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
        <a class="navbar-brand" href="#">Shannon's Shoemania</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0"></ul>
            <form class="form-inline my-2 my-lg-0" action="{% url 'login_user' %}" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="email" name="email" placeholder="Email Address">
                <input class="form-control mr-sm-2" type="password" name="password" placeholder="Password">
                <input class="my-2 my-sm-0" type="submit" value="Login"></input>
            </form>
        </div>
    </nav>
    <div class="container-fluid">
        {% if messages %}
            {% for msg in messages %}
                <p class="text-danger">{{msg}}</p>
            {% endfor %}
        {% endif %}
        <h3>Please Register</h3>
        <form class="registration" action="{% url 'create_user' %}" method="POST">
            {% csrf_token %}
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name" value="{{request.session.form_fname}}">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" value="{{request.session.form_lname}}">
            <label for="birthdate">Date of Birth:</label>
            <input type="date" name="birthdate" id="birthdate" value="{{request.session.form_dob}}">
            <label for="email">Email address:</label>
            <input type="email" name="email" value="{{request.session.form_email}}">
            <label for="password">Create a Password:</label>
            <input type="password" name="password">
            <label for="pwconf">Confirm Password:</label>
            <input type="password" name="pwconf" id="pwconf">
            <input type="submit" value="Register">
        </form>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>