*{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 700px;
    margin: 20px auto;
    padding: 20px;
    color: #004080;
    background-color: azure;
    box-shadow: 3px 3px 3px #252525;
}

h1, h3{
    padding: 10px;
    text-align: center;
}
h2{
    margin: 0px auto;
    padding: 10px;
    text-align: center;
}
.correct{
    margin: 10px auto;
    border: 3px solid #40bf80;
    color: #40bf80;
}
.wrong{
    margin: 10px auto;
    border: 3px solid #ff8080;
    color: #ff8080;
}
form{
    text-align: center;
    padding: 10px;
}
input{
    padding: 5px;
}
input[type='submit']{
    margin-left: 5px;
    padding: 6px 10px;
    border-radius: 5px;
    border: 1px solid #004080;
    font-weight: bold;
    color: #004080;
}