<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{url_for('static', filename='lp_style.css')}}">
    <title>Ninjas</title>
</head>
<body>
    <div class="ninjas">
        <h2>Interesting Facts About Ninjas</h2>
        <p>Ninjas, also known as shinobi, appeared on the scene during the Sengoku period of the 15th century. They were a group of <span>specially trained</span> spies and mercenaries.</p>
        <p>Ninjas were known for their espionage <span>skills, gathering information</span> on enemy terrain, building specifications, passwords and communications.</p>
        <p>Ninjas did not work alone; they relied heavily on their <span>team</span>. For example, to scale a wall, one ninja must rely on the team to provide a platform to assist the individual in reaching greater heights.</p>
        <p>Ninjas used a <span>large variety of tools</span> to get the job done.</p>
        <p><span>Coding Dojo Ninjas have a lot in common with those traditional ninjas!</span></p>
        <h3>Useless Trivia</h3>
        <ul>
            <li>Ninjas consumed a vegetarian diet in order to avoid body odor.</li>
            <li>Ninjas often used simple gardening tools, such as sickles, as weapons. In the unlikely event they were discovered, they could claim the tools were simply tools, not weapons.</li>
            <li>Women were ninjas too. Mochizuki Chiyome (16th century) created a school for girls, which taught skills required of geisha, as well as espionage skills.</li>
        </ul>
        <img src="static/images/cane_sword.jpg" alt="cane">
        <img src="static/images/chain_sickle.jpg" alt="sickle">
    </div>
</body>
</html>